:root {
    --white1: rgba(243, 244, 246, 0.1);
    --txt-gray: #aaa;
    --lightgray: #dcdcdc;
    --neonpink: #e93b81;
    --darkgray: #161616;
    --twitterblue: #1da1f2;
    --linkedinblue: #0072b1;
    --reddishpink: rgb(255, 77, 90);
    --nightsky: #072142;
}

body {
    font-family: "Montessarat", sans-serif;
    /* font-family: "Gilroy-m", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif; */
    background-color: var(--nightsky);
    color: white;
    margin: 0;
}

#btn-menu {
    height: 1.5rem;
    padding: 1.25rem 0;
    cursor: pointer;
}

#btn-menu:hover {
    fill: #fff;
}

.nav {
    width: 100%;
    padding: 0.75rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    /* background-color: var(--nightsky); */
    background: rgba(7, 33, 66, 0.5);
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(15px);
    visibility: visible;
}

.nav-ul {
    list-style: none;
    text-align: right;
    margin-right: 4rem;
}

.navlist {
    display: inline;
    padding: 0 1.5rem;
}

.navlinks {
    text-decoration: none;
    color: var(--txt-gray);
}

.activelink {
    color: var(--reddishpink);
}

.non-activelink:hover {
    color: #fff;
    transition: 0.5s;
}

#side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--reddishpink);
    /* opacity: 0.9; */
    overflow-x: hidden;
    transition: 0.4s ease-out;
    z-index: 1;
}

#close-img {
    height: 2rem;
    cursor: pointer;
}

#close-btn {
    margin-top: 2rem;
    margin-right: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#side-menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu-ul {
    padding-left: 0;
    padding-bottom: 3rem;
}

.side-menu-list {
    list-style: none;
    font-size: 3rem;
    padding: 2rem 0;
    margin: 0 auto;
}

.side-menu-links {
    text-decoration: none;
    color: var(--nightsky);
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.section {
    padding: 2rem 0 4rem 0;
    margin: 1rem 2rem;
}

.border {
    border-bottom: 1px solid var(--txt-gray);
}

.section p {
    margin-bottom: 3rem;
}

.about {
    font-family: "Montserrat", sans-serif;
    font-size: 1.75rem;
    height: 100vh;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.about h1 {
    margin-bottom: 0;
}

.about span {
    font-size: 4.5rem;
}

.about p {
    color: var(--txt-gray);
    font-size: 1.5rem;
    padding-top: 0.5rem;
    /* padding-left: 0.5rem; */
    margin-top: 0;
}

.headings {
    font-family: "Montserrat", sans-serif;
    color: var(--reddishpink);
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

.tech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tech img {
    padding: 1rem 1rem;
}

.tech-img {
    height: 4rem;
}

#html,
#css {
    height: 5rem;
}
#css {
    padding-left: 0;
}
#nodejs {
    height: 4.5rem;
}
#react {
    height: 4.5rem;
}

.projects {
    width: 100%;
    height: 800px;
    margin: 3rem auto 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "pr1 pr2"
        "pr1 pr3";
    grid-gap: 1.5rem;
}

#pr1 {
    grid-area: pr1;
}
#pr2 {
    grid-area: pr2;
}
#pr3 {
    grid-area: pr3;
}
#ch1 {
    background-image: url(./images/task-tracker.png);
}
#ch2 {
    background-image: url(./images/task-tracker.png);
}
#ch3 {
    background-image: url(./images/emoji.jpg);
}
.parent {
    border-radius: 1rem;
    /* border: 3px solid var(--reddishpink); */
    overflow: hidden;
    position: relative;
}
.child {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s;
}

.parent:hover .child {
    transform: scale(1.2);
}
.gc1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 1s;
}
.parent:hover .gc1 {
    background-color: rgb(31, 47, 70);
    opacity: 0.5;
}

.gc2 {
    width: 100%;
    height: 40%;
    /* background-color: #1f2f46; */
    /* background-color: rgba(226, 87, 96, 0.9); */
    background-color: rgb(233, 126, 132);
    position: absolute;
    bottom: 0;
    color: rgb(25, 25, 26);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
.parent:hover .gc2 {
    height: 100%;
    /* background-color: rgba(226, 87, 96, 0.7); */
    background: rgba(226, 87, 96, 0.7);
    backdrop-filter: blur(5px);
    visibility: visible;
}
.gc2 div {
    margin: 0 1rem;
}
.gc2 div h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.gc2 p {
    margin-bottom: 0;
}

.gc3 {
    width: 100%;
    height: 100%;
    /* background-color: rgb(31, 47, 70); */
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.gc3 div {
    padding: 2rem;
}

.parent:hover .gc3 {
    opacity: 1;
    /* background-color: rgba(31, 47, 70, 0.8); */
}

.btn {
    text-decoration: none;
    color: white;
    background-color: var(--reddishpink);
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    border: 3px solid var(--reddishpink);
    transition: 0.5s;
}

.btn:hover,
.secondary-btn:hover {
    opacity: 0.8;
}

.secondary-btn {
    text-decoration: none;
    color: var(--reddishpink);
    padding: 0.75rem 1.5rem;
    margin-left: 1rem;
    border: 3px solid var(--reddishpink);
    border-radius: 0.5rem;
    font-weight: bold;
    transition: 0.5s;
}

#right-arrow-img {
    height: 1rem;
    transform: translateY(2px);
    transition: 0.3s;
}

.btn:hover #right-arrow-img {
    transform: translate(5px, 2px);
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    border-top: 1px solid var(--txt-gray);
    padding: 2rem;
}

#footer-2 {
    margin: 2rem 0;
}

#footer-3 {
    margin: 1rem 0;
}

.footer-ul {
    padding-left: 0;
}

.footerlist {
    list-style: none;
    display: inline;
    padding: 1rem 1.5rem;
}

.footerlinks {
    text-decoration: none;
}

.socialmedia {
    height: 1.5rem;
    fill: var(--txt-gray);
}

.socialmedia:hover {
    fill: white;
    transition: 0.4s;
}

#github {
    height: 1.56rem;
}

#twitter {
    height: 1.75rem;
}

#mail-link:hover {
    color: var(--reddishpink);
    transition: 0.4s;
}

#download-btn:hover {
    opacity: 0.8;
    transition: 0.4s;
}

@media (max-width: 568px) {
    .nav-ul {
        display: none;
    }
}

@media (min-width: 568px) {
    #btn-menu {
        display: none;
    }
}

@media (max-width: 975px) {
    .projects {
        height: 850px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        grid-template-areas:
            "pr1 pr1"
            "pr2 pr3";
    }
}

@media (max-width: 700px) {
    .projects {
        height: 1000px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "pr1"
            "pr2"
            "pr3";
    }
}

