body {
  margin: 0;
  padding: 0;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one {
  background-color: green;
}
.two {
  background-color: red;
}
.three {
  background-color: orange;
}
.four {
  background-color: yellow;
}
